
span.wdg {
    font-size:10pt;
    color:#002030;
}

span.vldMsg {
    font-size:9pt;
    color:#F02030;
    width:100%;
    display:block;
    margin: 0px;
    padding:2px 0px 0px 0px;
}
div.vldMsg {
    border: solid 1px #FF2030;
}

/*div.wdg p.wdg {
    display:block;
    height:10pt;
}*/

/*.drawerHead
{
    float:left;
    padding:2px 0px 2px 12px;
    font-weight:bold;
    color:#3060A0;
    background: #fff url(./imgs/hgs.png) repeat-x;
    width:585px;
    cursor:pointer;
}*/
.drawerHeadAction
{
    float:left;
    width:20px;
    height:16px;
    margin:2px 0px 0px 3px;
    padding:2px 0px 2px 12px;
    font-weight:bold;
    color:#3060A0;
    background: #fff url(./imgs/hgs.png) repeat-x;
    cursor:pointer;
}
/*.drawer
{
    clear:left;
    width:626px;
    margin:0px 0px 6px 3px;
    background: #F0F6FA;
    border-left:solid 1px #B0C0E0;
    border-right:solid 2px #90A0B0;
    border-bottom:solid 2px #8A9AAA;
}*/

/*.drawerHeadForm
{
    float:left;
    padding:2px 0px 2px 12px;
    font-weight:bold;
    color:#3060A0;
    background: #fff url(./imgs/hys.png) repeat-x;
    width:617px;
    height:16px;
    cursor:pointer;
}*/
/*.drawerForm
{
    clear:left;
    width:626px;
    margin:0px 0px 6px 3px;
    padding:0px 0px 12px 0px;
    background: #FAFAE0;
    border-left:solid 1px #C0C060;
    border-right:solid 2px #B0B0A0;
    border-bottom:solid 2px #A6A690;
}*/

.drawer .drawerHeadForm
{
    width:607px;
}

.drawer .drawerForm
{
    width:616px;
}

.drawer .drawerHeadAction {
    width:14px;
}
.drawer .drawerHead
{
    width:580px;
}

.drawer .drawer
{
    width:616px;
}

div.wdg label {
    display:inline-block;
    margin:0px 0px 1px 0px;
    font-size:8pt;
    font-weight: normal;
    color:#396999;
}

form.csForm {
    margin:0 0 72px 0;
}

div.csCourseListDetail {
    background-color: white;
    float: left;
    margin: 12px;
    padding: 12px;
    width: 180px;
}

div.csPrice {
    text-align:center;
    margin:12px 0;
}

div.csEnquire {
    width:60px;
    text-align:center;
    padding:6px 0;
    float:left;
    font-weight:bold;
}

div.csRegister {
    width:100px;
    background-color:#5A9CDE;
    text-align:center;
    padding:6px 0;
    margin-left:6px;
    float:left;
}